@layout('layouts/master')

@set('title', '💙 MikuAPI v3')
@set('description', 'Welcome to the MikuAPI v3! Providing rapidly and fully SFW Hatsune Miku\'s arts we discovered from the web, in one single place! - miku-for.us')

@section('body')
  <h1><a href="/dev" up-target="[layout-root]" up-preload>Access Development Page</a></h1>
@endsection
