<h1>Login</h1>
@if(flashMessages)
  {{ inspect(flashMessages.get('errors')) }}
@endif
<form action="{{ route('AuthController.login') }}" method="POST">
  <label>Email or username: <input type="text" name="id" required="true" /></label><br>
  <label>Password: <input type="password" name="password" required="true" /></label><br>
  <input type="submit" value="Login">
</form>
